<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debugCommunicationDaemon" name="Debug Communication Daemon" schema="schema/debugCommunicationDaemon.exsd"/>
   <extension-point id="debuggerSupport" name="Debugger Support" schema="schema/debuggerSupport.exsd"/>

</plugin>
