<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.phtml.php">
         <formatterFactory
               class="com.aptana.editor.php.formatter.PHTMLFormatterFactory"
               description="%php_code_formatter_description"
               id="com.aptana.editor.phtml.formatterFactory"
               name="%php_code_formatter"
               priority="10"
               requiredActiveBundle="com.aptana.editor.php">
         </formatterFactory>
      </engineContribution>
      <engineContribution
            contentType="com.aptana.contenttype.php">
         <formatterFactory
               class="com.aptana.editor.php.formatter.PHPFormatterFactory"
               description="%php_code_formatter_description"
               id="com.aptana.editor.php.formatterFactory"
               name="%php_code_formatter"
               priority="10"
               requiredActiveBundle="com.aptana.editor.php">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.php.formatter.preferences.PHPFormatterPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
