<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debuggerSupport" name="PHP Debugger Support" schema="schema/debuggerSupport.exsd"/>
   <extension-point id="interpreterProvider" name="interpreterProvider" schema="schema/interpreterProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.aptana.editor.php.editorAction"
            targetID="com.aptana.editor.php">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.debug.php.toggleBreakpointAction"
               label="Toggle Breakpoint"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.aptana.debug.php.breakpoints"
            targetID="com.aptana.editor.php.RulerContext">
		       <action
		         label="Disable Breakpoint"
		         class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
		         menubarPath="additions"
		         id="com.aptana.debug.php.breakpoints.toggleBreakpointAction">
            <enablement>
               <objectClass
                     name="org.eclipse.debug.core.model.Breakpoint">
               </objectClass>
            </enablement>
		       </action>
      </viewerContribution>
   </extension>
</plugin>
