<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.php.internal.editor.PHPSourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="false"
            extensions="php, phtml, inc ,ctp"
            icon="icons/full/obj16/php.png"
            id="com.aptana.editor.php"
            name="Aptana PHP Source Editor">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.php">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="php, phtml, inc, ctp"
            id="com.aptana.contenttype.php"
            name="PHP Source File"
            priority="normal">
      </content-type>
   </extension>

</plugin>
